html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #102030;
}
#app {
  text-align: center;
  margin-top: 20vh;
}
h1, h2 {
  font-weight: normal;
}

